/*cascading stylesheet, easy to make just define by html tag*/

@font-face {
	font-family: Xylem;
	src: url(content/Xylem.woff);
}

/* color tests: 0000cd, 0000f4, 0000f0 */
html{
	background-color: #0000ff;
	/* background-image: url(content/LogoTranspWP.webp); */
}

/*.container{
	display: flex;
	top: 50vh;
}*/

.container{
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	width: 50vw;
	height: auto;
	display: flex;
}

.header {
	font-family: Xylem;
	text-align: center;
	color: white;
	font-size: 100px;
	letter-spacing: 0.1em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

.sub {
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	color: white;
	letter-spacing: 1em;
}

.player {
	margin-right: 2.5%;
	display: flex;
	align-items: center;
	justify-content: center;
}